html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.roboto{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.container{
	width: 57.5625rem;
	margin: 0 auto;
}

/* Navigation Section */ 
nav {
	width: 100%;
	height: 4.375em;
	position: fixed;
	background-color: #FFF;
	top: 0;
	z-index: 9999;

}

nav div {
	height: 4.375em;
	padding: 0 0.9375em;
}


nav ul {
	float: right;
	font-size: 1em;
	margin-top: 1.5625em;
}


nav ul li{
	display: inline;
	margin-left: 1.5625em;
	font-size: 1em;
	color: #838994;
}

nav ul > .active {
	color: #4c5058;
	font-weight: 500;
}

nav ul li:hover {
	cursor: pointer;
	color: #333333;
}

nav img {
	height: 4.375em;
	width: 1.625em;
}

/* Introduction */


header {
	background-image:  url("../images/first-background.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 45.9375em;
}

.header-font{
	color: #FFF;
	text-align: center;
	margin: 0;
	font-weight: 300;
}

header h1 {
	padding-top: 17.5rem;
	font-size: 3.125rem;

}

header h3 {
	padding-top: 1.25rem;
	font-size: 1.563rem;
}

header div {
	padding-top: 1.5625rem;
}

header div button {
	border: 0em solid red;
	padding: 1em 1.5em;
	background-color: #f15a29;
	font-size: 1.125rem;
    border-style: none;
    border-radius: 0.25rem;
}

main {
	padding-bottom: 5rem;
	margin: 10rem 0rem;
}

main h2 {
	font-size: 2.75rem;
	font-weight: 300;
	text-align: center;
}

main div {
	padding: 0;
}

main div ul {
	padding: 0;
}

main div ul li {
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	text-align: center;
}

main div ul li h3 {
	font-weight: 400;
    font-size: 1.563rem;
    font-weight: 400;
    text-align: center;
}

footer {}

footer div {
	text-align: center;
}
 
hr {
	border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

footer div h5 {
	font-weight: 400;
	font-size: 100%;
}

footer ul {
	padding-left: 0;
}

footer ul li {

	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 1.25rem;
	border: 0.0625rem solid #eaebec;
	cursor: pointer;
}

footer ul li i {
	padding-top: 11px;
}

.fa-twitter {
	color: #55acee;
}

.fa-facebook {
	color: #4c66a4;
}
.fa-instagram {
	color: #3f729b;
}

footer div h1 {
	color: #838994;
	font-weight: 300;
	font-size: 0.9rem;
}